
@{
    ViewData["Title"] = "RegisterUser";
}

<h2>RegisterUser</h2>
<form>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                &nbsp;
            </div>
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-9">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 text-right">
                                Email Id:
                            </div>
                            <div class="col-md-6">
                                @Html.TextBox("emailid")
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3 text-right">
                                User password:
                            </div>
                            <div class="col-md-6">
                                @Html.Password("password")
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3 text-right">
                                Gender:
                            </div>
                            <div class="col-md-6">
                                @Html.TextBox("gender")
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3 text-right">
                                Date of birth:
                            </div>
                            <div class="col-md-6">
                                @Html.TextBox("dob")
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3 text-right">
                                Address:
                            </div>
                            <div class="col-md-6">
                                @Html.TextBox("address")
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3 text-right">
                                &nbsp;
                            </div>
                            <div class="col-md-6">
                                <input type="submit" class="btn" value="Register" id="btnLogin" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>




